apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gitea.fullname" . }}
  labels:
    {{- include "gitea.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "gitea.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "gitea.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gitea.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.gitea.server.httpPort }}
              protocol: TCP
            {{- if .Values.gitea.server.startSshServer }}
            - name: ssh
              containerPort: {{ .Values.gitea.server.sshPort }}
              protocol: TCP
            {{- end }}
          env:
            - name: USER_UID
              value: "1000"
            - name: USER_GID
              value: "1000"
            {{- if eq .Values.gitea.database.type "mysql" }}
            - name: GITEA_DB_TYPE
              value: "mysql"
            - name: GITEA_DB_HOST
              value: "{{ include "gitea.fullname" . }}-mariadb:{{ .Values.mariadb.service.port }}"
            - name: GITEA_DB_NAME
              value: "{{ .Values.mariadb.database.name }}"
            - name: GITEA_DB_USER
              value: "{{ .Values.mariadb.database.user }}"
            - name: GITEA_DB_PASSWD
              valueFrom:
                secretKeyRef:
                  name: {{ include "gitea.fullname" . }}-secrets
                  key: mariadb-user-password
            {{- else if eq .Values.gitea.database.type "postgres" }}
            {{- if .Values.postgres.enabled }}
            - name: GITEA_DB_TYPE
              value: "postgres"
            - name: GITEA_DB_HOST
              value: "{{ include "gitea.fullname" . }}-postgres:{{ .Values.postgres.service.port }}"
            - name: GITEA_DB_NAME
              value: "{{ .Values.postgres.database.name }}"
            - name: GITEA_DB_USER
              value: "{{ .Values.postgres.database.user }}"
            - name: GITEA_DB_PASSWD
              valueFrom:
                secretKeyRef:
                  name: {{ include "gitea.fullname" . }}-secrets
                  key: postgres-password
            {{- else }}
            - name: GITEA_DB_TYPE
              value: "postgres"
            - name: GITEA_DB_HOST
              value: "{{ .Values.gitea.database.host }}"
            - name: GITEA_DB_NAME
              value: "{{ .Values.gitea.database.name }}"
            - name: GITEA_DB_USER
              value: "{{ .Values.gitea.database.username }}"
            - name: GITEA_DB_PASSWD
              value: "{{ .Values.gitea.database.password }}"
            {{- end }}
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: data
              mountPath: /data
            - name: config
              mountPath: /data/gitea/conf
              readOnly: true
      volumes:
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "gitea.fullname" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: config
          configMap:
            name: {{ include "gitea.fullname" . }}-config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
