apiVersion: v1
kind: Service
metadata:
  name: {{ include "gitea.fullname" . }}
  labels:
    {{- include "gitea.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.gitea.server.startSshServer }}
    - port: {{ .Values.gitea.server.sshPort }}
      targetPort: ssh
      protocol: TCP
      name: ssh
    {{- end }}
  selector:
    {{- include "gitea.selectorLabels" . | nindent 4 }}
